Repository n42blockchain/risc0, changes with the owners that .github/CODEOWNERS names for each.
All owners: @risc0/platform, @risc0/bonsai, @risc0/devrel, @risc0/demos, @flaub, @nategraf, @tzerrell, @hmrtn, @kevinnassery, @nahoc, @pdg744

WIP: Free local memory on CUDA
  risc0/circuit/keccak-sys/kernels/cuda/ffi_supra.cu
  risc0/circuit/keccak/examples/keccak.rs
  risc0/circuit/recursion-sys/kernels/cuda/ffi_supra.cu
  risc0/circuit/rv32im-sys/kernels/cuda/ffi_supra.cu
  risc0/circuit/rv32im-v2-sys/kernels/cuda/ffi_supra.cu
  risc0/sys/kernels/zkp/cuda/cuda.h
Owners: @risc0/platform

WIP montgomery
  risc0/bigint2/src/field/extbyimontmul_256.blob
  risc0/bigint2/src/field/extfieldmontmul_256.blob
Owners: @risc0/platform

add: r0vm version selection
  Cargo.lock
  Cargo.toml
  examples/Cargo.lock
  examples/hello-world/methods/guest/Cargo.lock
  risc0/bigint2/methods/guest/Cargo.lock
  risc0/circuit/keccak/methods/guest/Cargo.lock
  risc0/zkvm/Cargo.toml
  risc0/zkvm/methods/cfg/Cargo.lock
  risc0/zkvm/methods/cpp-crates/Cargo.lock
  risc0/zkvm/methods/env/Cargo.lock
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/heap/Cargo.lock
  risc0/zkvm/methods/rand/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
  risc0/zkvm/src/host/client/prove/mod.rs
  rzup/Cargo.toml
  rzup/src/components/mod.rs
  rzup/src/lib.rs
Owners: @risc0/platform, @risc0/devrel, @risc0/demos, @hmrtn

rm: dead code
  benchmarks/Cargo.lock
  examples/Cargo.lock
  examples/hello-world/methods/guest/Cargo.lock
  risc0/bigint2/methods/guest/Cargo.lock
  risc0/circuit/keccak/methods/guest/Cargo.lock
  risc0/zkvm/methods/cfg/Cargo.lock
  risc0/zkvm/methods/cpp-crates/Cargo.lock
  risc0/zkvm/methods/env/Cargo.lock
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/heap/Cargo.lock
  risc0/zkvm/methods/rand/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
  risc0/zkvm/src/host/client/prove/mod.rs
Owners: @risc0/platform, @risc0/devrel, @risc0/demos

ZKVM-946: Add field extension operations (#2728)
  risc0/bigint2/methods/guest/src/bin/extfield_deg2_add.rs
  risc0/bigint2/methods/guest/src/bin/extfield_deg2_mul.rs
  risc0/bigint2/methods/guest/src/bin/extfield_deg2_sub.rs
  risc0/bigint2/methods/guest/src/bin/extfield_deg4_mul.rs
  risc0/bigint2/methods/guest/src/bin/extfield_xxone_mul.rs
  risc0/bigint2/src/ec/ec_add_256.blob
  risc0/bigint2/src/ec/ec_double_256.blob
  risc0/bigint2/src/field/extfield_deg2_add_256.blob
  risc0/bigint2/src/field/extfield_deg2_mul_256.blob
  risc0/bigint2/src/field/extfield_deg2_sub_256.blob
  risc0/bigint2/src/field/extfield_deg4_mul_256.blob
  risc0/bigint2/src/field/extfield_xxone_mul_256.blob
  risc0/bigint2/src/field/extfieldadd.blob
  risc0/bigint2/src/field/extfieldadd_256.blob
  risc0/bigint2/src/field/extfieldmul.blob
  risc0/bigint2/src/field/extfieldmul_256.blob
  risc0/bigint2/src/field/extfieldsub.blob
  risc0/bigint2/src/field/extfieldsub_256.blob
  risc0/bigint2/src/field/mod.rs
  risc0/bigint2/src/field/modinv_256.blob
  risc0/bigint2/src/field/tests.rs
  risc0/bigint2/src/rsa/modpow65537_4096.blob
  risc0/zkp/src/verify/fri.rs
Owners: @risc0/platform

initial semi-working allocator
  risc0/zkvm/Cargo.toml
  risc0/zkvm/platform/Cargo.toml
  risc0/zkvm/platform/src/heap/custom.rs
  risc0/zkvm/platform/src/heap/mod.rs
  risc0/zkvm/platform/src/syscall.rs
Owners: @risc0/platform

WIP
  Cargo.lock
  benchmarks/Cargo.lock
  examples/Cargo.lock
  risc0/binfmt/src/lib.rs
  risc0/build/Cargo.toml
  risc0/build/src/lib.rs
  risc0/zkvm/examples/guest_verify.rs
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
  risc0/zkvm/src/host/api/convert.rs
  risc0/zkvm/src/host/client/prove/local.rs
  risc0/zkvm/src/host/client/prove/mod.rs
  risc0/zkvm/src/host/recursion/tests.rs
  risc0/zkvm/src/host/server/exec/tests.rs
  risc0/zkvm/src/host/server/prove/prover_impl.rs
  risc0/zkvm/src/host/server/prove/tests.rs
  risc0/zkvm/src/lib.rs
  risc0/zkvm/src/receipt.rs
  risc0/zkvm/src/receipt/composite.rs
  risc0/zkvm/src/receipt/segment.rs
Owners: @risc0/platform, @risc0/devrel, @risc0/demos

Re-enable ec_double_basic
  risc0/bigint2/src/ec/tests.rs
Owners: @risc0/platform

Reenable xxone extfield tests
  risc0/bigint2/src/field/tests.rs
Owners: @risc0/platform

WIP Check behavior when 0 at all nonzero offsets
  risc0/bigint2/src/field/tests.rs
Owners: @risc0/platform

hmm
  risc0/circuit/rv32im-v2-sys/kernels/cuda/ffi_supra.cu
  risc0/sys/kernels/zkp/cuda/fp.h
Owners: @risc0/platform

hmm1
  risc0/sys/kernels/zkp/cuda/supra/fp.h
Owners: @risc0/platform

hmm3
  risc0/circuit/rv32im-v2-sys/kernels/cuda/buffers.h
Owners: @risc0/platform

update dockerfile to pull & build icicle-gnark
  groth16_proof/docker/prover.Dockerfile
Owners: @risc0/platform

ZKVM-1091: Cleanup parallel union support (#2833)
  examples/Cargo.lock
  examples/prover/Cargo.toml
  examples/prover/src/main.rs
  examples/prover/src/plan.rs
  examples/prover/src/task_mgr.rs
  examples/prover/src/worker.rs
  risc0/zkvm/src/host/api/client.rs
  risc0/zkvm/src/host/api/server.rs
  risc0/zkvm/src/host/api/tests.rs
  risc0/zkvm/src/host/client/env.rs
  risc0/zkvm/src/host/protos/api.proto
  risc0/zkvm/src/host/protos/api.rs
  risc0/zkvm/src/host/server/exec/syscall/verify2.rs
  risc0/zkvm/src/host/server/prove/tests.rs
  risc0/zkvm/src/receipt/groth16.rs
  risc0/zkvm/src/receipt/segment.rs
  risc0/zkvm/src/receipt/succinct.rs
Owners: @risc0/devrel, @risc0/demos, @risc0/platform

backport fix to 1.2 release branch
  risc0/zkvm/src/host/api/client.rs
  risc0/zkvm/src/host/api/convert.rs
  risc0/zkvm/src/host/api/server.rs
  risc0/zkvm/src/host/client/env.rs
  risc0/zkvm/src/host/server/exec/syscall/prove_keccak.rs
  risc0/zkvm/src/host/server/prove/dev_mode.rs
  risc0/zkvm/src/host/server/prove/keccak.rs
Owners: @risc0/platform

Simplify deg4_mul test
  risc0/bigint2/methods/guest/src/bin/extfield_deg4_mul.rs
Owners: @risc0/platform

Test V2
  risc0/bigint2/src/field/tests.rs
Owners: @risc0/platform

Drop unused code
  risc0/bigint2/methods/guest/src/bin/extfield_deg4_mul.rs
Owners: @risc0/platform

Don't write outputs
  risc0/bigint2/methods/guest/src/bin/extfield_deg4_mul.rs
Owners: @risc0/platform

add test and fix edge case of impl
  risc0/zkvm/src/host/api/convert.rs
Owners: @risc0/platform

disable poolstl usage in v2 circuit
  risc0/circuit/rv32im-v2-sys/kernels/cxx/ffi.cpp
Owners: @risc0/platform

Attempt enabling RISC0_CUDA_SCCACHE_RECACHE for release 1.1 branch
  .github/workflows/main.yml
Owners: @risc0/platform

Release 1.1: Bump version to 1.1.4
  Cargo.lock
  Cargo.toml
  benchmarks/Cargo.lock
  benchmarks/methods/guest/Cargo.lock
  examples/Cargo.lock
  examples/bevy/methods/guest/Cargo.lock
  examples/c-kzg/methods/guest/Cargo.lock
  examples/chess/methods/guest/Cargo.lock
  examples/composition/methods/guest/Cargo.lock
  examples/digital-signature/methods/guest/Cargo.lock
  examples/ecdsa/methods/guest/Cargo.lock
  examples/groth16-verifier/methods/guest/Cargo.lock
  examples/hello-world/methods/guest/Cargo.lock
  examples/json/methods/guest/Cargo.lock
  examples/jwt-validator/methods/guest/Cargo.lock
  examples/password-checker/methods/guest/Cargo.lock
  examples/profiling/methods/guest/Cargo.lock
  examples/prorata/methods/guest/Cargo.lock
  examples/sha/methods/guest/Cargo.lock
  examples/smartcore-ml/methods/guest/Cargo.lock
  examples/voting-machine/methods/guest/Cargo.lock
  examples/waldo/methods/guest/Cargo.lock
  examples/wasm/methods/guest/Cargo.lock
  examples/wordle/methods/guest/Cargo.lock
  examples/xgboost/methods/guest/Cargo.lock
  risc0/build/src/docker.rs
  risc0/circuit/bigint/methods/guest/Cargo.lock
  risc0/zkvm/methods/cpp-crates/Cargo.lock
  risc0/zkvm/methods/env/Cargo.lock
  risc0/zkvm/methods/guest/Cargo.lock
  risc0/zkvm/methods/heap/Cargo.lock
  risc0/zkvm/methods/rand/Cargo.lock
  risc0/zkvm/methods/std/Cargo.lock
  tools/smoke-test/Cargo.toml
  tools/smoke-test/methods/Cargo.toml
  tools/smoke-test/methods/guest/Cargo.toml
Owners: @risc0/platform, @risc0/devrel, @risc0/demos

.github/CODEOWNERS:

# CODEOWNERS

# Note: Order is important; the last matching pattern takes the most
# precedence.

# Platform team is requires approval for all PRs
*                                      @risc0/platform

# Specific paths requiring teams and/or individual approval
/bonsai/                               @risc0/bonsai
/examples/                             @risc0/devrel @risc0/demos @risc0/platform
/groth16_proof/groth16/                @flaub @nategraf @tzerrell
/rzup/                                 @risc0/platform @hmrtn
/SECURITY.md                           @kevinnassery
/web/                                  @risc0/platform @nahoc
/website/                              @risc0/devrel @pdg744
control_id.rs                          @flaub @nategraf @tzerrell
recursion_zkr.zip                      @flaub @nategraf @tzerrell
